@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

body{
  font-family: "Lato", sans-serif !important;
}

.navbar {
  background: #ff007d;
  display: flex;
}
.navbar-flex {
  display: flex;
}

.navbar-name {
  float: left;
  font-style: normal;
  font-size: larger;
  font-weight: bolder;
  color: #ffffff;
  margin-left:0;
}

.hicon{
  padding-left: 7%;
  color: #ffffff;
}

.cross{
  color: black;
}

.raise-open{
  margin: 5%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2),0 -3px 10px rgb(0 0 0 / 0.2);
  padding: 3.5%;
}

.raise-title{
  font-size: larger;
  color: black;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.raise-content{
  color: darkgray;
  margin-bottom: 5px;
}

.raise-textarea{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 0.2);
  border: none;
  padding: 2%;
  border-radius: 5px;
}

.raise-textarea::placeholder{
  color: #ff007d;
  font-weight: bolder;
}

.options{
  display: flex;
}

.option-1, .option-2{
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(0 0 0 / 0.2);
  border-radius: 5px;
  padding: 2%;
  align-items: center;
}

.option-text{
  justify-content: space-between;
  border: 1px solid rgb(0 0 0 / 0.2);
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 2%;
  border-radius: 5px;
}

.select-tags{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-top: 20px;
}

.select-tag-content{
  border: 2px solid black;
  border-radius: 30px;
  padding: 0% 2% 0% 2%;
  margin-right: 4.5%;
  margin-bottom: 4%;
}

.select-tag-button{
  font-size: larger;
  font-weight: bolder;
  color: white;
  background-color: #ff007d;
  padding: 1% 7% 1% 7%;
  border-radius: 10px;
  border: none;
  margin-left: 35%;
  margin-bottom: 10px;
}

.polls-my{
  display: flex;
  margin: 5%;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}

.polls-my-b{
  font-size: medium;
  border-radius: 5px;
  background-color: white;
  display: flex;
}

.polls-men{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 60px;
}

.polls-men-heading{
  margin-left: 5%;
  font-size: x-large;
  margin-bottom: 25px;
}

.polls-men-tag{
  display: flex;
  margin-bottom: 10px;
}

.polls-men-tag-heading{
  font-weight: bolder;
}

.polls-men-tag-content{
  border: 2px solid black;
  border-radius: 30px;
  padding: 0% 2% 0% 2%;
  margin-left: 2.5%;
  font-size: small;
  font-weight: bold;
  background-color: #ff99cb;
}

.polls-question{
  display: flex;
}

.polls-question-head{
  font-size: larger;
  color: black;
  font-weight: bolder;
  align-items: center;
  margin-bottom: 2%;
}

.polls-question-option1,.polls-question-option2,.polls-question-option3{
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 2%;
  align-items: center;
  font-weight: bold;
}

.polls-button{
  background-color: white;
  border: none;
}

.polls-question-option1{
  background: linear-gradient(to right, lightgrey 0%, lightgrey 70%, white 70%, white  100%);
}

.polls-question-option2{
  background: linear-gradient(to right, lightgrey 0%, lightgrey 40%, white 40%, white  100%);
}

.polls-question-option3{
  background: linear-gradient(to right, lightgrey 0%, lightgrey 55%, white 55%, white  100%);
}

.result-popup {
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.hide-polls {
  position: relative;
  top: -420px;
  width: 100%;
  height: 420px;
  opacity: 0.95;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-polls-btn {
  padding: 2% 4%;
  margin-top: 20px;
  border-radius: 5px;
  border:none;
  background-color: #ff007d;
  color: white;
  margin-left: 30%;
  font-size: larger;
  font-weight: bolder;
  display: flex;
}

.hide-polls-div{
  background-color: white;
  width: 96%;
  height: 170px;
}

.hide-polls-text{
  text-align: center;
  margin-top: 40px;
  font-size: larger;
  font-weight: bolder;
}